mat-form-field {
    width: 60%;
    margin-left: 20% !important;
    margin-top: 2%;
}
mat-card-title {
    text-align: center;
}

.add-user-section {
    margin-left: 10% !important;
    margin-top: 10% !important;
    margin-right: 10% !important;
}

.add-user-card-actions {
    margin-left: 68% !important;
}
