<h2 mat-dialog-title>Update User Name</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput type="text" placeholder="User Name" formControlName="userName" id="userName">
        <mat-hint align="end">Not more then 20 characters long.</mat-hint>
        <mat-error *ngIf="hasError('userName', 'required')">User Name is required</mat-error>
        <mat-error *ngIf="hasError('userName', 'maxlength')">User Name should be less than 20 characters
        </mat-error>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Cancel</button>
    <button [disabled]="!form.valid" class="mat-raised-button update-user-button" (click)="Update()">Update</button>
</mat-dialog-actions>